---
import Head from '../components/Head.astro';
const { title } = Astro.props.frontmatter || Astro.props;
---
<html lang="se">
    <Head title={title}/>
    <body>
        <slot/>
    </body>
</html>